body {
	background-color: rgb(169, 217, 231);
	font-family: arial;
	color: rgb(0, 18, 141);
	padding-left: 190px;
} 

body p{
	font-weight: bolder;
}

body li{
	font-weight: bold;
}

.navbar{
	position: absolute;
	left: 0px;
	top: 55px;
	list-style-type: none;
	padding-left: 15px;
}

.navbar li{
	background-color: white;
	border-right: 15px solid black;
	padding: 5px;
	padding-right: 30px;
	margin: 5px;
}

.navbar li a{
	text-decoration: none;
	color: #A00;
}
